body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}

#wrapper {
    margin-top: 0px;
    float: right;
    width: 80%;
    margin-right: 50px;
}

header h1 {
    text-align: left;
    font-size: 70px;
    margin-bottom: 5px;
}

header h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 40px;
    font-style: italic;
    color: darkslateblue;
}

header h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 20px;
    color: darkgray;
}

header img {
    margin-top: 50px;
    width: 100%;
}

nav {
    margin-top: 50px;
    margin-left: 30px;
    float: left;
    width: 15%;
    line-height: 40px;
    position: fixed;
    font-size: 40px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: rgb(255, 0, 0);
}

section {
    margin-bottom: 30px;
    text-align: justify;

}

/*For any links in the text, don't underline*/
article p a {
    text-decoration: none;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: darkgrey;
}

footer {
    margin-top: 20px;
    min-height: 30px;
    font-size: 10px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
}

footer a {
    text-decoration: none;
    color: black;
}

/*For the books class, display the covers in a grid*/
.books {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    gap: 16px;
}

.books img {
    display: block;
    width: 100%;
    height: auto;
}

.books>div {
    text-align: center;
    padding: 10px;
}

.books figure {
    margin: 0;
}

article figure figcaption {
    margin-top: 5px;
    font-size: 12px;
}

table img {
    max-width: 100%;
    max-height: 100%;
}