/* Navigation menu */
nav {
    margin-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
    line-height: 30px;
    display: grid;
    grid-template-columns: 60% 1fr;
}

/* Hover style */
.menu1 {
    display: flex;
    background: white;
    justify-content: space-around;
    align-items: center;
}

.menu1 a {
    display: block;
}

.hamburger-menu {
    display: none;
    /* Hidden by default, will be shown on mobile */
    align-items: center;
    justify-content: center;
}


.hamburger-menu button {
    background: none;
    border: none;
    font-size: 2em;
    /* Size of the hamburger menu icon */
    color: gray;
}

.hamburger-menu button .fa-bars {
    cursor: pointer;
}

.close-menu {
    display: none;
}

.logo {
    display: flex;
    text-align: left;
    align-items: center;
    align-content: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: rgb(255, 0, 0);
}

.menuI {
    text-align: right;
}

.menuI_active {
    text-align: right;
    color: gray;
}

#wrapper {
    margin-top: 10px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

header h1 {
    font-family: "Roboto", sans-serif;
    text-align: left;
    font-size: 70px;
    margin-bottom: 5px;
}

header h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 40px;
    font-style: italic;
    color: #0A3161;
}

header h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: left;
    font-size: 20px;
    color: darkgray;
}

/* header img {
    margin-top: 50px;
    width: 100%;
} */


section {
    margin-bottom: 30px;
    text-align: justify;

}

body {
    /*Google fonts*/
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    padding: 0%;
    margin: 0%;
}

/*For any links in the text, don't underline*/
article p a {
    text-decoration: none;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 10px;
    color: #B31942;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 30px;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    font-style: italic;
}

.social {
    font-size: 20px;
}

footer a {
    text-decoration: none;
    color: black;
}

/*For the books class, display the covers in a grid*/
.books {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
    max-width: 100%;
}

.books img {
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* .books div {
    text-align: center;
    padding: 10px;
} */

.hover-text {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 8px;
    border-radius: 10px;
    color: white;
    transition: opacity 0.3s ease;
}

.books figure {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.books figure:hover .hover-text {
    display: block;
    opacity: 1;
}

.books figure:hover img {
    transform: scale(1.05);
    opacity: 0.9;
}

.stories-left {
    grid-column: 1 / 7;
}

.stories-p2 {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    margin-left: 50px;
}

.stories-right {
    grid-column: 7 / 13;
    margin-left: 50px;
    margin-right: 50px;
}

.im {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    box-sizing: border-box;
    display: block;
}

.im:hover {
    filter: blur(2px);
    opacity: 0.9;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.im1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.im2 {
    grid-column: 4 / 7;
    /*Start and end*/
    grid-row: 1 / 3;
}

.im3 {
    grid-column: 7 / 13;
    grid-row: 1 / 6;
}

.im4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3 / 6;
}

.im5 {
    grid-column: 4 / 7;
    grid-row: 3 / 5;
}

.im6 {
    grid-column: 1 / 7;
    grid-row: 5 / 9;
}

.im7 {
    grid-column: 7 / 10;
    grid-row: 5 / 7;
}

.im8 {
    grid-column: 10 / 13;
    grid-row: 5 / 7;
}

.im9 {
    grid-column: 7 / 10;
    grid-row: 7 / 9;
}

.im10 {
    grid-column: 10 / 13;
    grid-row: 7 / 9;
}

.im11 {
    grid-column: 1 / 7;
    grid-row: 10 / 12;
}

.im12 {
    grid-column: 8 / 13;
    grid-row: 10 / 12;
}

/* article figure div {
    /* margin-top: 5px;
    font-size: 12px;
} */

/* table img {
    max-width: 100%;
    max-height: 100%;
} */


/*This is for cellphones*/

@media (max-width: 1024px) {

    .hamburger-menu {
        display: flex;
        align-items: center;
    }

    .menu1 {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        /* Ensure the menu is above other elements */
    }

    .menu1 a {
        padding: 20px;
    }

    .menu1 a,
    .menu1 a:hover {
        text-decoration: none;
        color: gray;
        background-color: transparent;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        color: gray;
    }

    .menu-deployed {
        display: flex;
        flex-direction: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 1000;
        padding-top: 50px;
    }

    button {
        border-width: 0px;
        background-color: white;
    }

    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 50px;
        position: relative;
        display: flex;
        /*like grid but more robust, makes it easier to align*/
        justify-content: space-between;
        align-items: center;
        /*vertically align*/
        flex-wrap: wrap;
        border-bottom: 4px solid #FFCD00;
        background: #C8102E;
        z-index: 1000;
        color: white;
    }

    nav a {
        color: white;
        margin-left: 5%;
        margin-bottom: -20px;
    }

    nav a:hover {
        color: #0A3161;
    }

    h1 {
        margin-top: 30px;
    }

    #wrapper {
        margin-top: 500px;
        position: relative;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    #wrapper header img {
        margin-top: 100px;
    }

    header h1 {
        font-size: 50px;
    }

    body {
        /*Google fonts*/
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
        font-variation-settings: "wdth" 100;
        padding: 0%;
        margin: 0%;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }

    .books {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
        grid-auto-flow: row dense;
    }

    .books [class^="im"] {
        grid-column: auto !important;
        grid-row: auto !important;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .books img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .stories-left {
        grid-column: 1 / 13;
        grid-row: 1 / 10;
    }

    .stories-left img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .stories-right {
        grid-column: 1 / 13;
        grid-row: 10 / 20;
        margin-left: 5%;
        margin-right: 5%;
    }

    .stories-p2 {
        grid-column: 1 / 13;
        grid-row: 19 / 50;
        margin-left: 5%;
        margin-right: 5%;
    }

}